nav {
	background-color: #003b70 !important;
}

.sidenav {
	background-color: #b9b8f3  !important;
	width: 80%;
}

.sidenav li>a{
	border-bottom: 1px solid;
	background-color: #a2a1d8  !important;
	font-size: 25px;
}

.sidenav-overlay {
	height: 100%;
	left: 80%;
}



body {
	font: 10.5pt arial;
	color: #4d4d4d;
	line-height: 150%;
}

code {
	background-color: #f5f5f5;
}

.jsoneditor_wrapper {
	width: 100%;
	height: 450px;
}

.jsoneditor-menu {
    background-color: #003b70;
    border-bottom: 1px solid #003b70;
}

.jsoneditor {
    border: thin solid #003b70;
}

.jsoneditor-search input {
	width: 70% !important;
	margin: 3px 0px 0px 0px !important;
}

.jsoneditor-frame {
	width: 180px;
}

.jsoneditor-modal .pico-modal-header {
	background: #003b70;
}

.jsoneditor-modal .jsoneditor-button-group.jsoneditor-button-group-value-asc input.jsoneditor-button-asc, .jsoneditor-modal .jsoneditor-button-group.jsoneditor-button-group-value-desc input.jsoneditor-button-desc {
	background: #003b70;
    border-color: #003b70;
}

input[type="submit"] {
    background: green !important;
    color: #ffffff;
}

.jsoneditor-modal .jsoneditor-transform-preview {
    height: 170px;
}

.jsoneditor-modal .jsoneditor-jmespath-block {
    margin-bottom: 5px;
}

.jsoneditor-modal .pico-close {
	top: 5px !important;
}

.padding_top_23 {
	padding-top: 23px !important;
}
